p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button {
  cursor: pointer;
}

:root {
  --accent-color: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
}
body {
  font-family: roboto, sans-serif;
}

/*------------HEADER----------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  border-bottom: solid 1px #ececec;
}
.nav {
  display: flex;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  margin-left: 0;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-blue {
  color: var(--color-blue);
}
.header-container {
  display: flex;
}
.list-header {
  display: flex;
}
.link-header { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--accent-color);
  transition: color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.item-header{
  padding-top: 32px;
  padding-bottom: 32px;
}
.item-header:not(:last-child){
  margin-right: 50px;
}

.portfolio{
color: var(--color-blue);
}
.portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  position: absolute;
  display: block;
  margin-top: 32px;
  border-radius: 2px;
}

.list-grey {
  margin-left: auto;
  display: flex;
}
.item-grey{
  padding-top: 32px;
  padding-bottom: 32px;
}
.item-grey:first-child{
  margin-right: 50px;
}
.link-grey {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon{
  fill: var(--color-grey);
  margin-right: 10px;
  fill: currentColor;
}

a.link-header:focus {
  color: var(--color-blue);
}
a.link-header:hover {
  color: var(--color-blue);
}
.link-grey {
  color: var(--color-grey);
}
a.link-grey:focus {
  color: var(--color-blue);
}
a.link-grey:hover {
  color: var(--color-blue);
}
/*------------MAIN---------*/
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn {
  padding: 6px 22px;
  transition: color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.item-btn:not(:last-child) {
  margin-right: 9px;
}
.item-btn{
transition: background-color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: var(--color-blue);
  color: white;
}
.btn:focus {
  background-color: var(--color-blue);
  color: white;
}
.btn {
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.item {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}
.item:not(:nth-child(3n)){
  margin-right: 30px;
}
.item:hover{
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
0px 4px 4px rgba(0, 0, 0, 0.06), 
1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-wrap{
position: relative;
overflow: hidden;
}
.portfolio-item-text{
  padding: 63px 24px;
  position: absolute;
top: 0;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
transform: translateY(100%);
transition: 300ms;
background-color:  rgba(33, 150, 243, 0.9);
height: 100%;
transition: transform 250ms
cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover .portfolio-item-text{
  transform: translateY(0);
}
.item:focus{
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
0px 4px 4px rgba(0, 0, 0, 0.06), 
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item:nth-child(7){
  margin-bottom: 0;
}
.item:nth-child(8){
  margin-bottom: 0;
}
.item:nth-child(9){
  margin-bottom: 0;
}
.div-text{
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.text {
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

/*-----------FOOTER---------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

}


.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-white);
}
.list-footer {
  margin-top: 20px;
}

.item-footer:first-child {
  margin-top: 20px;
}
.item-footer:nth-child(2) {
  margin-top: 9px;
}
.item-footer:nth-child(3) {
  margin-top: 9px;
}
.link-footer{
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
    color: var(--color-grey);
  transition: color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer-street{
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  transition: color 250ms
  cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container {
  display: flex;
}
.footer-icon-div{
  margin-left: 70px;
padding-top: 12px;
}
.footer-title{
  font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--color-white);
}
.footer-icon-list{
    display: flex;
}
.footer-icon-item:not(:last-child){
  margin-right: 10px;
}
.footer-icon-item{
  width: 44px;
  height: 44px;
}
.footer-icon-link{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%; 
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms
cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon{
  fill: var(--color-white);
}
.footer-icon-link:hover ,
.footer-icon-link:focus{
  background-color: var(--color-blue)
}
.footer-icon-link:hover,
.footer-icon-link:focus{
fill: var(--color-white)
}


a.link-footer-street:hover {
  color: var(--color-blue);
}
a.link-footer-street:focus {
  color: var(--color-blue);
}
a.link-footer:hover {
  color: var(--color-blue);
}
a.link-footer:focus {
  color: var(--color-blue);
}


